<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="foxbot-discord-net" value="https://www.myget.org/F/discord-net/api/v3/index.json" />
    <add key="foxbot-discord-addons" value="https://www.myget.org/F/foxbot-discord-addons/api/v3/index.json" />
  </packageSources>
</configuration>