<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.10.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <clear />
    <add name="DatabaseContext" providerName="System.Data.SqlClient" connectionString="Server=18df5762-663c-4f0a-b332-a66900f7d29c.sqlserver.sequelizer.com;Database=db18df5762663c4f0ab332a66900f7d29c;User ID=vdumeaqwmlchuuqg;Password=NpNiQUA24tNaqGcmiC6YNXPxhe2saQbLjBzMN5kdN4HYvNK4x2ht2WHXHpbL3hZm;" />
  </connectionStrings>
</configuration>
